@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.gradient-bg {
   background-color: #f0f0f0;
}

.bgColorF {
    background-color: #e8e8e8;
}

.colorText{
    color: #989898;
}

.linea{
    color:#d5d5d5;
}

input{
    border: none;
    background: none;
    border-bottom: 2px solid #5b5b5b;
}

input:focus {
    outline: none;
    border-color: black;
    
}